{% extends "index.html" %}
{% block content %}




<h1>Dashboard</h1>
    
    <!-- Agregar el gráfico aquí -->



    <div id="container-fluid">
        <div id="container-fluid" class="row">
            <!-- Tarjeta 1 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                
                    <div class="card-body">
                        {{ graph_html_clientes | safe }}
                    </div>
                </div>
            </div>
    
            <!-- Tarjeta 2 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Gráfico 2
                    </div>
                    <div class="card-body">
                        {{ graph_html_productos | safe }}
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Otros elementos o tarjetas adicionales pueden ir aquí -->
    </div>

    <div id="container-fluid">
        <div id="container-fluid" class="row">
            <!-- Tarjeta 1 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Gráfico 3
                    </div>
                    <div class="card-body">
                        <!-- Inserta aquí el contenido de tu primer gráfico -->
                       
                    </div>
                </div>
            </div>
    
            <!-- Tarjeta 2 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        Gráfico 4
                    </div>
                    <div class="card-body">
                        <!-- Inserta aquí el contenido de tu segundo gráfico -->
                       
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Otros elementos o tarjetas adicionales pueden ir aquí -->
    </div>

{% endblock %}