{% extends "index.html" %}
{% block content %}




<h1>Dashboard</h1>
    
    <!-- Agregar el gráfico aquí -->



    <div id="container-fluid">
        <div id="container-fluid" class="row">
            <!-- Tarjeta 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                
                    <div class="card-body">
                        {{ graph_html_clientes | safe }}
                    </div>
                </div>
            </div>
    
            <!-- Tarjeta 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        {{ graph_html_productos | safe }}
                    </div>
                </div>
            </div>

            <!-- Tarjeta 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        {{ graph_html_productos_lotes | safe }}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="container-fluid">
        <div id="container-fluid" class="row">
            <!-- Tarjeta 3 -->
            <div class="col-md-12 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        {{ graph_html_insumos | safe  }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="container-fluid">
        <div id="container-fluid" class="row">
            <!-- Tarjeta 3 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                
                    <div class="card-body">
                        {{ graph_html_ventasproductos | safe  }}
                    </div>
                </div>
            </div>
    
            <!-- Tarjeta 4 -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        {{ graph_html_ventas_tipo | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    


    

{% endblock %}