<!-- datos.html -->

{% extends "index.html" %}
{% block content %}

<div class="container-fluid mt-5">

    <div class="container-fluid mt-3">

        <h2>Seleccione una tabla:</h2>
    <form action="{{ url_for('ver_datos') }}" method="post" class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-md-6">
                <select name="table_name" id="table_name" class="form-select" required>
                    {% for table in tables %}
                        <option value="{{ table.name }}">{{ table.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Ver Datos</button>
            </div>
        </div>
    </form>


        <div class="row">
            <div class="col-md-6 d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h3 class="card-title">Descargar Plantilla</h3>
                        {% if table_name %}
                            <a href="{{ url_for('descargar_plantilla', table_name=table_name) }}" class="btn btn-info">Descargar Plantilla Excel</a>
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                Selecciona una tabla para descargar la plantilla.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h3 class="card-title">Cargar Registros</h3>
                        {% if table_name %}
                            <form action="{{ url_for('cargar_registros', table_name=table_name) }}" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="archivo_excel" class="form-label">Seleccionar archivo Excel</label>
                                    <input type="file" name="archivo_excel" class="form-control" accept=".xlsx" required>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-success">Cargar Registros</button>
                                </div>
                            </form>
                        {% else %}
                            <div class="alert alert-warning" role="alert">
                                Selecciona una tabla para cargar registros.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h2 class="mt-4">Datos de la tabla <span class="display-5 text-primary">{{ table_name }}</span>:</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="container mt-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    {% if records %}
        <div class="table-responsive" style="max-height: 600px;">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr class="small text-lg-center table-danger">
                        <th></th>
                        {% if columns %}
                            {% for column in columns %}
                                <th>{{ column['type'] if column['type'] is not none else 'Tipo Desconocido' }}</th>
                            {% endfor %}
                        {% else %}
                            <th>Tipo Desconocido</th>
                        {% endif %}
                    </tr>
                    <tr class="text-lg-center">
                        <th>Acciones</th>
                        {% if columns %}
                            {% for column in columns %}
                                <th>{{ column['name'] if column['name'] is not none else 'Nombre Desconocido' }}</th>
                            {% endfor %}
                        {% else %}
                            <th>Nombre Desconocido</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if records %}
                        {% for record in records %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('editar_registro', table_name=table_name, record_id=record[0]) }}" class="btn btn-primary">
                                        <i class='bx bx-edit-alt nav_icon'></i>
                                    </a>
                                    <a href="{{ url_for('eliminar_registro', table_name=table_name, record_id=record[0]) }}" class="btn btn-danger">
                                        <i class='bx bx-trash nav_icon'></i>
                                    </a>
                                </td>
                                {% for value in record %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
                
            </table>
        </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var tableSelect = document.getElementById('table_name');
        var selectedTable = localStorage.getItem('selectedTable');

        if (selectedTable) {
            tableSelect.value = selectedTable;
        }

        tableSelect.addEventListener('change', function() {
            localStorage.setItem('selectedTable', this.value);
        });
    });
</script>


{% endblock %}
