{% extends "base.html" %}
{% block content %}
    
    <div class="container mt-4"> <!-- Contenedor principal con margen superior de 4 unidades -->
        

        


        
        <!-- Mostrar registros de la tabla seleccionada -->
        {% if selected_table %}
            <h2 class="mt-5">Registros de {{ selected_table }}</h2> <!-- Encabezado de nivel 2 con margen superior de 5 unidades -->

            <a href="{{ url_for('crear_registro', table_name=selected_table) }}" class="btn btn-success">Crear Registros</a> <!-- Enlace con estilo de Bootstrap -->
            <table class="table table-striped table-bordered mt-4"> <!-- Tabla con estilos de Bootstrap y margen superior de 4 unidades -->
                <thead class="table-dark"> <!-- Encabezado de tabla con fondo oscuro -->
                    <tr>
                        {% for col in columns %}
                            <th>{{ col }}</th> <!-- Encabezados de columna -->
                        {% endfor %}
                        <th>Acciones</th> <!-- Encabezado de columna para acciones -->
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                        <tr>
                            <td>{{ record[0] }}</td> <!-- Celda de datos -->
                            {% for value in record[1:] %}
                                <td>{{ value }}</td> <!-- Celdas de datos -->
                            {% endfor %}
                            <td>
                                <a href="/editar/{{ selected_table }}/{{ record[0] }}" class="btn btn-primary">Editar</a> <!-- Enlace de edición con estilo de Bootstrap -->
                                <a href="/eliminar/{{ selected_table }}/{{ record[0] }}" class="btn btn-danger">Eliminar</a> <!-- Enlace de eliminación con estilo de Bootstrap -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
