{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h2>Resultado de la Regresión Lineal</h2>
        <p>Gráfico de la regresión lineal:</p>
        <!-- Gráfico de regresión -->
        <img src="{{ url_for('static', filename='image_regresion/regresion_plot.png') }}" alt="Gráfico de Regresión" class="img-fluid">
    </div>

    <div class="container"> <!-- Contenedor principal de Bootstrap -->
        <h1>Predicción</h1>

        <form method="POST" action="/realizar-prediccion">
            <div class="form-group">
                <label for="x_variable">Valor de X:</label>
                <input type="text" class="form-control" name="x_variable" id="x_variable" required>
            </div>
            <button type="submit" class="btn btn-primary">Realizar Predicción</button>
        </form>

        <br>

        <h2>Resultados de la Predicción:</h2>
        <p class="lead">{{ prediction }}</p>

       
        <br>

        <a href="/" class="btn btn-secondary">Volver a la página de inicio</a>
    </div> <!-- Fin del contenedor principal de Bootstrap -->
{% endblock %}
