<!-- views/seleccion.html -->

{% extends "index.html" %}

{% block content %}
<div class="container-fluid mt-4">
    <h2>Seleccionar Tablas</h2>
    <form method="POST" action="{{ url_for('seleccionar_tabla', action=action) }}" class="mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-3">Selecciona una o más tablas:</h5>
                <div class="mb-3">
                    <select name="table" id="table" class="form-select" multiple>
                        {% if tables %}
                            {% for table in tables %}
                                <option value="{{ table.name }}" {% if table.name in selected_tables %}selected{% endif %}>
                                    {{ table.name }}
                                </option>
                            {% endfor %}
                        {% else %}
                            <option value="" disabled selected>No hay tablas disponibles</option>
                        {% endif %}
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success btn-lg">Continuar</button>
                </div>
            </div>
        </div>
    </form>


    {% if selected_tables %}
        {% if action == 'seleccion' %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card h-100  p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h3 class="mb-4">Variables para el análisis de correlación</h3>

                            <form method="POST" action="{{ url_for('mostrar_resultado_correlacion', table_names=selected_tables) }}" onsubmit="return validateForm()">
                                <input type="hidden" id="table-selector" name="table_names" value="{{ selected_tables|join(',') }}">
                                
                                {% for table in selected_tables %}
                                    <div class="mb-4">
                                        <h4>{{ table }}</h4>
                                        <div class="row">
                                            {% for column in columns[table] %}
                                                <div class="col-md-3 mb-3">
                                                    <div class="form-check">
                                                        <input type="checkbox" name="variables[]" value="{{ column }}" id="{{ column }}">
                                                        <label class="form-check-label" for="{{ column }}">
                                                            {{ column }}
                                                        </label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-lg btn-success" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="Verificar coeficiente de correlación" data-bs-content="Haz clic aquí para verificar el coeficiente de correlación. Esta acción te proporcionará información sobre la fuerza y dirección de la relación entre las variables seleccionadas, lo que es crucial para comprender la asociación entre ellas en tus datos.">Validar correlación</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card h-100  p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <h3 class="mb-4">Variables para el análisis de regresión</h3>

                            <form method="POST" action="{{ url_for('regresion_lineal', table_names=selected_tables) }}" onsubmit="return validateRegressionForm()">
                                <input type="hidden" name="table_names" value="{{ selected_tables|join(',') }}">
                                <div class="mb-3">
                                    <label for="x_variable" class="form-label">Variable explicativa para X (Independiente):</label>
                                    <select name="x_variable" id="x_variable" class="form-select">
                                        <option value="" selected disabled>Seleccionar variable</option>
                                        {% for table in selected_tables %}
                                            {% for column in columns[table] %}
                                                <option value="{{ column }}">{{ column }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="y_variable" class="form-label">Variable predecible para Y (Dependiente):</label>
                                    <select name="y_variable" id="y_variable" class="form-select">
                                        <option value="" selected disabled>Seleccionar variable</option>
                                        {% for table in selected_tables %}
                                            {% for column in columns[table] %}
                                                <option value="{{ column }}">{{ column }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-lg btn-success" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="Entrenar el modelo" data-bs-content="Haz clic aquí para entrenar el modelo de regresión lineal. Este proceso te permitirá analizar la relación entre las variables seleccionadas y construir un modelo predictivo. Al entrenar el modelo, podrás realizar predicciones basadas en los datos existentes, lo que es esencial para tomar decisiones informadas en función de los patrones identificados en tus datos.">Hacer Regresion</button>
                                </div>
                            </form>
                            

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>


{% if selected_tables %}
    <div class="container-fluid mt-4">
        <h2>Variables y Datos Seleccionados</h2>
        {% for table_name in selected_tables %}
            <div class="mb-4">
                <h3>Datos: {{ table_name }}</h3>
                {% if records[table_name] %}
                    <div class="card mt-1">
                        <div class="card-body">
                            <div class="table-responsive" style="max-height: 200px;">
                                <table class="table table-bordered table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            {% for column in columns[table_name] %}
                                                <th scope="col">{{ column }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for record in records[table_name] %}
                                            <tr>
                                                {% for value in record %}
                                                    <td>{{ value }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="mt-2">No hay datos disponibles para esta tabla.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}


<script>
    document.getElementById('continue-btn').addEventListener('click', function () {
        document.forms[0].submit();  // Envía el formulario cuando se hace clic en el botón
    });

    document.getElementById('select-all-checkbox').addEventListener('change', function () {
        var checkboxes = document.getElementsByName('selected_columns');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
    });

    // Manejar la visualización de la selección
    var checkboxes = document.getElementsByName('selected_columns');
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener('change', function () {
            updateSelection();
        });
    }

    function updateSelection() {
        var selectedValues = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedValues.push(checkboxes[i].value);
            }
        }
        console.log('Seleccionados: ' + selectedValues.join(', '));
    }
</script>

<script>
    function validateRegressionForm() {
    var xVariable = document.getElementById('x_variable').value;
    var yVariable = document.getElementById('y_variable').value;

    if (xVariable.trim() === '' || yVariable.trim() === '') {
        alert('Por favor, selecciona ambas variables.');
        return false;
    }

    console.log('Variables seleccionadas: X = ' + xVariable + ', Y = ' + yVariable);

    return true;
}
</script>





{% endblock %}
