{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Datos de entrenamiento tomados de: {{ table_name }}</h2>

    <form method="POST" action="{{ url_for('regresion_lineal', table_name=table_name) }}">
        <input type="hidden" name="table" value="{{ table_name }}">
        <div class="mb-3">
            <label for="x_variable" class="form-label">Variable explicativa para X(Independiente):</label>
            <select name="x_variable" id="x_variable" class="form-select">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="y_variable" class="form-label">Variable predecible para Y(Dependiente):</label>
            <select name="y_variable" id="y_variable" class="form-select">
                {% for column in columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-lg btn-success">Realizar Regresión Lineal</button>
        </div>
    </form>

    {% if success_message %}
        <div class="alert alert-success mt-3">
            {{ success_message }}
        </div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-danger mt-3">
            {{ error_message }}
        </div>
    {% endif %}

    <h3 class="mt-4">Registros de la tabla {{ table_name }}:</h3>
    <a href="{{ url_for('crear_registro', table_name=table_name) }}" class="btn btn-success mb-3">Crear Registros</a>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record[0] }}</td>
                    {% for value in record[1:] %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    <td>
                        <a href="/editar/{{ table_name }}/{{ record[0] }}" class="btn btn-primary">Editar</a>
                        <a href="/eliminar/{{ table_name }}/{{ record[0] }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
